<%- include('../partials/header') %>

<link rel="stylesheet" href="./styles/sidebar.css">
    <div class="sidenav">
        <li><img src="./images/FullLogo.png" id="logo" /></li>
        <a href="/dashboard">Dashboard</a>
        <a href="/addairport">Add An Airport</a>
        <a href="/showairports">Existing Airports</a>
        <a href="/addflight">Add a Flight</a>
        <a href="/showflights">Existing Flights</a>
        <a href="/addcrew">Add Crew</a>
        <a href="/showusers">Show All Users</a>
        <a href="/showbookedflights">Booked Flight</a>
        <a href="/searchflight"> Search Flight </a>
        <a href="/logout">Logout</a>
      </div>
    <div class="main">
        <form action="/addcrew" method="post">
            <h3>ADD CREW</h3>
          <div class="row">
            <div class="col-md-12 small-centered">
              <div class="row">
                <div class="col-md-12">
                  <input
                    type="text"
                    placeholder="First Name"
                    autocomplete="off" required name="first_name" id="first_name" maxlength="20"
                  />
                </div>
                <div class="col-md-12">
                  <input type="text" placeholder="Last Name" autocomplete="off" required name="last_name" id="last_name" maxlength="20" />
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <input type="text" placeholder="Email" autocomplete="off" required name="email" id="email" maxlength="40"/>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <input type="text" placeholder="Password" autocomplete="off" required name="password" id="password" maxlength="40"/>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <input type="Number" placeholder="Number" autocomplete="off" required name="phone" id="phone" max="9999999999"/>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <input
                    type="text"
                    placeholder="Passport Number"
                    autocomplete="off"  required name="passport_number" id="passport" maxlength="10"
                  />
                </div>
                <div class="col-md-12">
                  <input
                    required
                    type="date"
                    placeholder="DOB"
                    id="date"
                    name="date"
                    format="DD-MM-YYYY"
                    autocomplete="off"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-3"  style="padding: 10px; margin-bottom: 20px">
                  <label>CREW                  </label>         
                    <select name="occupation" id="occupation" required style="width: 90%; padding: 10px; ">
                      <option value="pilot">Pilot</option>
                      <option value="technician">Technician</option>
                      <option value="air_hostess">Air Hostess</option>
                    </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <button class="button button1">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>


    <script>
      date = new Date();
      date = date.toISOString();
       document.getElementById("date").max = date.substring(0,10);
    </script> 
    <%- include('../partials/footer') %>