<%- include('../partials/header') %>
    <p>This is the Admin Dashboard </p>
    Goto <a href="/addairport">Add An Airport </a>
    <hr> Goto <a href="/showairport"> Show Existing Airports </a>
    <hr> Goto <a href="/addflight"> Add A Flight </a>
    <hr> Goto <a href="/showflight"> Show Existing Flights </a>