<%- include('../partials/header') %>
    <p>This is the
        <h2>Admin</h2> Dashboard </p>
            <br>
            <br>
            <br> Goto <a href="/addairport">Add An Airport </a>
            <hr> Goto <a href="/showairports"> Show Existing Airports </a>
            <hr> Goto <a href="/addflight"> Add A Flight </a>
            <hr> Goto <a href="/showflights"> Show Existing Flights </a>
            <hr> Goto <a href="/addcrew">add a a crew</a>
            <hr> Goro <a href="/showusers">Show All Users</a>
            <hr> goto <a href="/showbookedflights"> Show  booked flights </a> 
            <hr> goto <a href="/searchflight"> Seach flight </a>
            <hr>
            <br>
            <a href="/logout"> Logout</a>