<%- include('../partials/header') %>
    <p>This is the
        <h2>Admin</h2> Dashboard </p>
        <link rel="stylesheet" href="./styles/sidebar.css">
        <div class="sidenav">
          <li><img src="./images/FullLogo.png" id="logo" /></li>
          <a href="/dashboard">Dashboard</a>
          <a href="/addairport">Add An Airport</a>
          <a href="/showairports">Existing Airports</a>
          <a href="/addflight">Add a Flight</a>
          <a href="/showflights">Existing Flights</a>
          <a href="/addcrew">Add Crew</a>
          <a href="/showusers">Show All Users</a>
          <a href="/showbookedflights">Booked Flight</a>
          <a href="/searchflight"> Search Flight </a>
          <a href="/logout">Logout</a>
        </div>
            <a href="/logout"> Logout</a>