<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dbms Flight Booking</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link    rel="stylesheet"    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"  />
</head>
<body>
    <div class="container">
        <% if(error && error.length > 0) {%>
        <div class="alert alert-danger"> <%= error %></div>    
            <%}%>
        <% if(success && success.length > 0) {%>
            <div class="alert alert-success"> <%= success %></div>    
            <%}%>
        <% if(warning && warning.length > 0) {%>
            <div class="alert alert-warning"> <%= warning %></div>    
            <%}%>            
    </div>
<div id="loader_parent">
    <div class="loader">
        <span></span>
        <span></span>
        <span></span>
      </div>
</div>
<script> document.addEventListener("DOMContentLoaded",function(){
    document.getElementById("loader_parent").remove();
});</script>
      <style>

#loader_parent{
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 4;
            background-color: rgba(0, 0, 0, 0.514);
        }  
.loader {
    width: 16em;
    height: 8em;
    position: absolute;
    overflow: hidden;
    top: 40%;
left : 40%;
}

.loader::before,
.loader::after {
    content: '';
    position: absolute;
    bottom: 0;
}

.loader::before {
    width: inherit;
    height: 0.2em;
    background-color: hsla(0, 0%, 85%);
}

.loader::after {
    box-sizing: border-box;
    width: 50%;
    height: inherit;
    border: 0.2em solid hsla(0, 0%, 85%);
    border-radius: 50%;
    left: 25%;
}

.loader span {
    position: absolute;
    width: 5%;
    height: 10%;
    background-color: white;
    border-radius: 50%;
    bottom: 0.2em;
    left: -5%;
    animation: 2s linear infinite;
    transform-origin: 50% -3em;
    animation-name: run, rotating;
}

.loader span:nth-child(2) {animation-delay: 0.075s;}
.loader span:nth-child(3) {animation-delay: 0.15s;}

@keyframes run {
    0% {left: -5%;}
    10%, 60% {left: calc((100% - 5%) / 2);}
    70%, 100% {left: 100%;}
}

@keyframes rotating {
    0%, 10% {transform: rotate(0deg);}
    60%, 100% {transform: rotate(-1turn);}
}

      </style>