<%- include('partials/header') %>
    <h2>You hit the home Page</h2>



    <a href="/login"> Login </a>
    <hr>

    <a href="/register"> Register</a>

    <hr>
    <br><br><br>
    <p> Try to access the <a href="/secret">secret Page </a>. Only allowed when logged in.</p>