<%- include('partials/header') %>

<link rel="stylesheet" href="/styles/loginstyle.css">

<!-- <p>Not a User <a href="/register">Click Here</a> to Register.</p>
</div> -->
<form action="/login" method="post">
<div CLASS = "box2">
    <button type="submit" class="btn-btn-Login">Login</button>
<a href="/register"><button type="button" class="btn-btn-SignUp">SignUp</button></a>
</div> 
<div class="input-group flex-nowrap">
<div class="input-group-prepend">
</div>
<input type="email" class="u-form-control" placeholder="Email" aria-label="Email" aria-describedby="addon-wrapping" required name="email">
</div>
<div class="input-group flex-nowrap">
<div class="input-group-prepend">
</div>
<input type="password" class="p-form-control" placeholder="Password" aria-label="password" aria-describedby="addon-wrapping" name="password" required>
</div>
</form>



