<form action="/register" method="post">

    First Name<input type="text" name="first_name" id="first_name"> last_name
    <input type="text" name="last_name" id="last_name">
    <hr> email <input type="email" name="email" id="email">
    <hr> password <input type="password" name="password" id="password">
    <hr> number <input type="number" name="phone" id="phone">




    <hr> passPort Number <input type="number" name="passport_number" id="passport">
    <hr> DOB <input type="date" name="date" id="date" format="dd-MMM-yyyy">
    <hr>
    <button type="submit">submit</button>
</form>