<p>This is the secret Page which can be only accesed by logged in users.</p>
<hr> you are logged in as:
<br> Name:
<%=user %>
    <br> Userid:
    <%=userid %>
        <br> Email:
        <%= email%>
            <br> User Type:
            <%= type%>


                <a href="/logout">Logout</a>