<%- include('../partials/header') %>
<style>
    .container{margin-top:100px;
    text-align:center}
    .button{
width: 235px;
height: 98px;
margin-top: 180px;
border-radius: 31px;
			}
			.button1 {background-color: #0A96D2;margin-right: 50px;} 
            .button2 {background-color: #0A96D2;} 
</style>


<div class="container">
    <h1>USER DASHBOARD</h1>
    <div class="d-flex justify-content-center">
        <a href="/searchflight"><button class="button button1">Search Flight</button></a>
        <a href="/showbookedflights"><button class="button button2">View Book Flight</button></a>
    </div>
</div>