<%- include('../partials/header') %>
    <p>This is the
        <h2>User</h2> dashboard</p>





            goto <a href="/searchflight"> Seach flight </a>
            <hr>
            goto <a href="/showbookedflights"> Show  booked flights </a> 
            <hr> 
            
            <a href="/logout"> Logout</a>