<%- include('../partials/header') %>
    <p>This is the
        <h2>Crew</h2> Dashboard </p>
<hr>
goto <a href="/assignedflights"> Assigned Flights</a>
<hr>
goto <a href="/showbookedflights"> Show  booked flights </a> 
<hr> 
goto <a href="/searchflight"> Seach flight </a>
            <a href="/logout"> Logout</a>