<%- include('../partials/header') %>
    <p>This is the
        <h2>Crew</h2> Dashboard </p>


    <% if(message!=null) { %>

        <p>
            <%= message %>
        </p>

        <%}  %>

            <a href="/logout"> Logout</a>