*,
*:before,
*:after {
  box-sizing: border-box;
}
::selection {
  background-color: #eee;
}
::-moz-selection {
  background-color: #eee;
}
body {
  font-size: 16px;
  background-color: white;
  padding: 20px;
}

.container {
  margin-top: 90px;
}
.flight_details {
  height: 100px;
  margin: auto;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 50px -3px rgba(0, 0, 0, 0.69);
  box-shadow: 5px 5px 50px -3px rgba(0, 0, 0, 0.3);
}
.flight_details > h2 {
  font-size: 60px;
  margin: auto;
  color: #7b7f83;
}
.flight_details > h3 {
  font-size: 30px;
  margin: auto;
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
.seats {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.seat {
  display: flex;
  flex: 0 0 14.28571%;
  padding: 5px;
  position: relative;
  height: 60px;
  width: 60px;
}
.seat:nth-child(3) {
  margin-right: 14.28571%;
}
.seat input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
.seat input[type="checkbox"]:checked + label {
  background: black;
  animation-duration: 300ms;
  animation-fill-mode: both;
}
.seat input[type="checkbox"]:disabled + label {
  background: #ddd;
  text-indent: -9999px;
  overflow: hidden;
}
.seat input[type="checkbox"]:disabled + label:after {
  content: "X";
  text-indent: 0;
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translate(-50%, 0%);
}
.seat input[type="checkbox"]:disabled + label:hover {
  box-shadow: none;
  cursor: not-allowed;
}
.seat label {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5rem;
  padding: 4px 0;
  color: #fff;
  background: #26a69a;
  border-radius: 2px;
  animation-duration: 300ms;
  animation-fill-mode: both;
  transition-duration: 300ms;
}
.seat label:hover {
  cursor: pointer;
  box-shadow: 0px 0 7px 3px #ccc;
}

.text_values_parent {
  margin-left: -150px;
  -webkit-box-shadow: 1px 5px 47px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 5px 47px 5px rgba(0, 0, 0, 0.3);
}
.text_values_parent {
  font-size: 20px;
}
.text_values_parent > p {
  font-size: 30px;
}
.text_values > input {
  height: 40px;
  margin: 10px 5px;
  border-radius: 10px;
  border: #2aa39c solid;
  width: 74%;
  padding: 5px;
}
.legend_parent {
  margin-left: 30px;
}

.legend_parent > div {
  height: 45%;
  width: 100%;
  margin: 30px 10px;
  -webkit-box-shadow: 1px 5px 16px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 5px 16px 1px rgba(0, 0, 0, 0.3);
}
.legend_parent > div > h4 {
  padding: 8px;
  font-size: 30px;
  font-weight: bold;
  color: white;
}
.legend_parent > div > h5 {
  padding: 8px;
}
.legend_parent > div:nth-child(1) {
  margin-top: 10px;
}
.legend_parent > div:nth-child(1) > h4 {
  background-color: #26a59a;
}
.legend_parent > div:nth-child(2) > h4 {
  background-color: #cd1918;
}
#seat_status_seat {
  padding: 5px 15px 5px 15px;
}
#seat_reset {
  margin-left: 30px;
}
#seat_status_seat > div {
  width: 50px;
  height: 50px;
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 12px;
  margin: 10px;
}
.legend > div {
  padding: 5px 40px;
}
.legend > div > span {
  margin-bottom: 20px;
  padding-left: 130px;
  font-weight: bold;
  color: #7b7f83;
}
.legend > div > span > div {
  margin-right: 30px;
  padding: 5px;
  height: 30px;
  width: 30px;
  color: white;
}
