body {
  background-image: url("../images/register.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 90px;
}

.container {
  margin: auto;
  padding-top: 20px;
  margin-right: 50px;
  padding: auto;
  width: 40%;
  height: 70%;
}
