h1 {
  font-size: 30px;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}
table {
  width: 100%;
  table-layout: fixed;
}
.tbl-header {
  background-color: #26878d;
}
.tbl-content {
  height: auto;
  max-height: 300px;
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid #26878d;
}
th {
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
}
td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 14px;
  color: #26878d;
  border-bottom: solid 1px #26878d;
}

tbody > tr:hover {
  background-color: #343a40;
  color: white;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body {
  background: #ffffff;
  font-family: open Sans;
}
section {
  margin: 50px;
}

::-webkit-scrollbar {
  width: 6px;
}
